[submodule "themes/hugo-theme-dream"]
	path = themes/hugo-theme-dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
[submodule "site/themes/hugo-future-imperfect-slim"]
	path = site/themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
